<script>
window.addEventListener('load', function(){
    //1.verify same names
    if (document.querySelector("#newnameid")) {
    async function getAllUserNames() {
        let userNamesResponse = await fetch("http://localhost:3000/allusernames");
        let userNamesJson = await userNamesResponse.json();

        return userNamesJson;
    }

    const testLabel = document.querySelector("#newNameTest");
    const userName = document.querySelector("#newnameid");


    userName.addEventListener("input", async function () {
        testLabel.innerHTML = "";
        let userNameValue = userName.value;

        const userNamesArray = await getAllUserNames();
        for (let i = 0; i < userNamesArray.length; i++) {
            if (userNameValue == userNamesArray[i].username) {
                testLabel.innerHTML = `User name already exists!`;
                break;
            }
        }
    });
}


//2.verify the new password:
if(document.querySelector("#confirmnewid")) {
    const isMatch = document.querySelector("#passwordMatch");
    const newPassword = document.querySelector("#newpasswordid");
    const confirmNew = document.querySelector("#confirmnewid");

    {{!-- confirmNew.addEventListener("input", async function () {
        isMatch.innerHTML = "";
        let passWordValue1 = newPassword.value;
        let passWordValue2 = confirmNew.value;

        if(passWordValue1 != passWordValue2){
            isMatch.innerHTML = `Different password input!`;
        }
    }); --}}
    async function checkPassword(){
        isMatch.innerHTML = "";
        let passWordValue1 = newPassword.value;
        let passWordValue2 = confirmNew.value;

        if(passWordValue1 || passWordValue2) {
            if(passWordValue1 != passWordValue2){
            isMatch.innerHTML = `Different password input!`;
            }
        }
        
    }

    newPassword.addEventListener('input', checkPassword);
    confirmNew.addEventListener('input', checkPassword);
}

//3.verify old password:
if(document.querySelector("#oldpasswordid")) {
    async function getVerificationResult(){
        let result = await fetch("http://localhost:3000/verifyOldPassword",{
            method:"POST",
            body: JSON.stringify({oldPassword:document.querySelector("#oldpasswordid").value}),
            headers: {
                "Content-Type": "application/json",
            },
        });
            let flag = await result.json();
            return flag;
    }

    const testLabel = document.querySelector("#oldPasswordTest");
    const oldone = document.querySelector("#oldpasswordid");

        oldone.addEventListener("input", async function () {
            testLabel.innerHTML = "";
            let oldpassword = oldone.value;

            const flag = await getVerificationResult();
                if (!flag) {
                    testLabel.innerHTML = `Verification failed!`;
                } else {
                    const newPasswordInput = document.querySelector("#newpasswordid");
                    newPasswordInput.disabled = false;

                    const confirmNewPssword = document.querySelector("#confirmnewid");
                    confirmNewPssword.disabled = false;

                }  
        });
}

//4.save changes:
const saveBtn = document.getElementById('saveBtn');
saveBtn.addEventListener('click', function(){
    
    const allAvatar = document.getElementsByName('presetAvatar');
    let checkedAvatar = null;
    allAvatar.forEach((radio) => {
        if (radio.checked) {
            checkedAvatar = radio.value;
        }
    });

    let avatarFileName = document.getElementById('editAvatar').files[0];
    let formData = new FormData();
    formData.append('avatarFileName', avatarFileName);

    let newName = document.getElementById('newnameid').value;
    let newPassword = document.getElementById('newpasswordid').value;
    let newDb = document.getElementById('newBd').value;
    let newFname = document.getElementById('fnameid').value;
    let newMname = document.getElementById('mnameid').value;
    let newLname = document.getElementById('lnameid').value;
    let newDes = document.getElementById('desid').value;
    
    formData.append('checkedAvatar', checkedAvatar);
    formData.append('newName', newName);
    formData.append('newPassword', newPassword);
    formData.append('newDb', newDb);
    formData.append('newFname', newFname);
    formData.append('newMname', newMname);
    formData.append('newLname', newLname);
    formData.append('newDes', newDes);

    $.ajax({
        url: "/saveAll",
        method:"POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function() {
            alert("Saved!");
            window. scrollTo(0, 0);
            location.reload();
        },
        error: function() {
            alert("Error. Failed to save. Please try again.");
            window. scrollTo(0, 0);
            location.reload();
        }
    });
});

//5.delect account
//and modal
const modal = document.getElementById('thinkTwice');
const mask = document.getElementById('mask');
const confirmdelect = document.getElementById('confirmdelect');
const dontdelect = document.getElementById('dontdelect');

document.getElementById('delectBtn').onclick = function(){
    modal.style.display = "block";
    mask.style.display = "block";
};

dontdelect.onclick = function(){
    modal.style.display = "none";
    mask.style.display = "none";
}

    //6.if there is a file, make all radios disabled:
    const file = document.getElementById('editAvatar');
    file.addEventListener('change', function(){
        const allRadio = document.getElementsByName('presetAvatar');

        if(file.files.length > 0){
            for(let i = 0; i < allRadio.length; i ++){
                allRadio[i].disabled = true;
            }
        } else {
            for(let i = 0; i < allRadio.length; i ++){
                allRadio[i].disabled = false;
            }
        }
    });
})
</script>

<div id="edit_account_container">
    <div id="mask"></div>
    {{#if user}}
    <div id="edtForm">
        <br>
        <div class="editcard">
            <label for="editAvatar">Avatar: </label>
            <input id="editAvatar" name="avatar" type="file" accept=".png,.jpg,.jpeg,.bmp">
        </div>
        <p>Or you can choose a predefined avatar: </p>
        <div>
            <input type="radio" id="iconOne" name="presetAvatar" value="panda.png">
            <label for="iconOne"><img src="/images/icons/panda.png" alt="Panda" width="60"></label>

            <input type="radio" id="iconTwo" name="presetAvatar" value="cat.png">
            <label for="iconTwo"><img src="/images/icons/cat.png" alt="Cat" width="60"></label>
            
            <input type="radio" id="iconThree" name="presetAvatar" value="dog.png">
            <label for="iconThree"><img src="/images/icons/dog.png" alt="Dog" width="60"></label>

            <input type="radio" id="iconFour" name="presetAvatar" value="fox.png">
            <label for="iconFour"><img src="/images/icons/fox.png" alt="Fox" width="60"></label>

            <input type="radio" id="iconFive" name="presetAvatar" value="hamster.png">
            <label for="iconFive"><img src="/images/icons/hamster.png" alt="Hamster" width="60"></label>

            <br><br>
            <input type="radio" id="iconSix" name="presetAvatar" value="koala.png">
            <label for="iconSix"><img src="/images/icons/koala.png" alt="Koala" width="60"></label>

            <input type="radio" id="iconSeven" name="presetAvatar" value="meiduan.png">
            <label for="iconSeven"><img src="/images/icons/meiduan.png" alt="American Short-tailed Cat" width="60"></label>

            <input type="radio" id="iconEight" name="presetAvatar" value="orange_cat.png">
            <label for="iconEight"><img src="/images/icons/orange_cat.png" alt="Orange Cat" width="60"></label>

            <input type="radio" id="iconNine" name="presetAvatar" value="bear.png">
            <label for="iconNine"><img src="/images/icons/bear.png" alt="Bear" width="60"></label>

            <input type="radio" id="iconTen" name="presetAvatar" value="wolf.png">
            <label for="iconTen"><img src="/images/icons/wolf.png" alt="Wolf" width="60"></label>
        </div>

        <br><br>
        
        <div class="editcard">
            <label for="newnameid">Username: </label>
            <input placeholder="{{user.username}}" class="editipt" id="newnameid" name="newname" type="text" maxlength="8">
            <label id="newNameTest" for="newnameid"></label><br><p class="edit_hint">(The maximum length of username is 8 digits)</p>
        </div>

        <div class="editcard">
            <label for="oldpasswordid">Old password: </label>
            <input placeholder="enter for verification" type="password" name="oldpassword" class="editipt" id="oldpasswordid">
            <label id="oldPasswordTest" for="oldpasswordid"></label><br><br>
        </div>


        <div class="editcard">
            <label for="newpasswordid">New password: </label>
            <input type="password" disabled name="newpassword" class="editipt" id="newpasswordid" maxlength="20" minlength="8">
            <br><p class="edit_hint">(Please enter a password of 8-20 digits)</p>
        </div>

        <div class="editcard">
            <label for="confirmnewid">Confirm new password: </label>
            <input type="password" disabled name="confirmnew" class="editipt" id="confirmnewid">
            <label id="passwordMatch" for="confirmnewid"></label><br><br>
        </div>

        <div class="editcard">
            <label for="newBd">Date of birth: </label>
            <input type="date" class="editipt" id="newBd" min="1900-01-01" max="2023-06-01" name="newbirth" value="{{user.date_of_birth}}"><br><br>
        </div>

        <div class="editcard">
            <label for="fnameid">First name: </label>
            <input class="editipt" id="fnameid" name="fname" type="text" placeholder="{{user.fname}}" maxlength="32"><br><br>
        </div>
        
        <div class="editcard">
            <label for="mnameid">Middle name: </label>
            <input class="editipt" id="mnameid" name="mname" type="text" placeholder="{{user.mname}}" maxlength="32"><br><br>
        </div>

        <div class="editcard">
            <label for="lnameid">Last name: </label>
            <input class="editipt" id="lnameid" name="lname" type="text" placeholder="{{user.lname}}" maxlength="32"><br><br>
        </div>


        <div class="editcard" id="textnew">
            <label for="desid">Description: </label>
            <textarea id="desid" name="des" type="text" maxlength="500">{{{user.description}}}</textarea><br><br>
        </div>

        <form action="./delectAccount" method="post">
        <div id="thinkTwice">
            
                <div id="modalcontent" >
                    <p>Are you sure you want to delect this account?😭</p>
                    <p>🥺Please think twice🥺</p>
                </div>
            
                <button id="confirmdelect" type="submit">yes</button>
            
                <button id="dontdelect" type="button">NOT NOW</button>
        </div>
        </form>
        
        <button class="btn" type="submit" id="saveBtn">Save all changes</button>
        <button class="btn" type="button" id="delectBtn">Delect this account</button><br><br>

        
    </div>   
    {{/if}}
</div>