<div class="article-container">
    <h1>{{{article.title}}}</h1>
    <h3>{{article.timestamp}}</h3>
    <p>
        <p class="icon"><img src="./images/icons/{{article.path}}" width="50px" height="50px" class="icon"></p>
        <p>{{article.username}}</p>
        <div href="" class="subscribeStatus">
            {{#if subscribe}}
            <form action="./unsubscribe" method="get">
                <button type="submit" class="subscribe" name="subscribeOrNot"
                    value="{{article.articleId}}">unsubscribe</button>
            </form>
            {{else}}
            <form action="./subscribe" method="get">
                <button type="submit" class="subscribe" name="subscribeOrNot"
                    value="{{article.articleId}}">subscribe</button>
            </form>
            {{/if}}
        </div>
    </p>
    <div class="article-content">
        <p>{{{article.content}}}</p>
        {{#if imagePath}}
        <p class="article-image"><img src="./images/uploadedFiles/{{imagePath}}" width="500px"></p>
        {{/if}}
        <div class="favorite">
            {{#if like}}
            <form action="./dislikeFullArticle" method="get">
                <button type="submit" class="likes fullArticleLike" name="likeAction"><img src="./images/black favorite.png" width="40px"></button>
            </form>
            {{else}}
            <form action="./likeFullArticle" method="get">
                <button type="submit" class="likes fullArticleLike" name="likeAction"><img src="./images/outline favorite.png" width="40px"></button>
            </form>
            {{/if}}
        </div>
    </div>
</div>

{{#if commentNoAccess}}
<div id="noAccessCommentHint">
    <div class="commentHint">
        <p>Please Log in or Sign up to comment the article.</p>
        <button class="closeCommentHint">OK</button>
    </div>
</div>
{{/if}}
<div id="noAccessReplyHint">
    <div class="commentHint">
        <p>Please Log in or Sign up to reply the comment.</p>
        <a href="./article"><button>OK</button></a>
    </div>
</div>
{{#if deleteNoLogin}}
<div id="noLoginDeleteHint">
    <div class="commentHint">
        <p>Please Log in to delete the comment.</p>
        <button class="closeNoLoginDeleteHint">OK</button>
    </div>
</div>
{{/if}}
{{#if deleteNoAccess}}
<div id="noAccessDeleteHint">
    <div class="commentHint">
        <p>Sorry! You do not have access to delete this comment.</p>
        <button class="closeNoAccessDeleteHint">OK</button>
    </div>
</div>
{{/if}}
{{#if subscribeNoAccess}}
<div id="noAccessSubscribeHint">
    <div class="commentHint">
        <p>Please Log in or Sign up to subscribe!</p>
        <button class="closeSubscribeHint">OK</button>
    </div>
</div>
{{/if}}
{{#if likeNoAccess}}
<div id="noAccessLikeHint">
    <div class="commentHint">
        <p>Please Log in or Sign up to add Favorites!</p>
        <button class="closeLikeHint">OK</button>
    </div>
</div>
{{/if}}
{{#if subscribeYourself}}
<div id="subscribeYourselfHint">
    <div class="commentHint">
        <p>You cannot subscribe yourself!</p>
        <button class="closesubscribeYourselfHint">OK</button>
    </div>
</div>
{{/if}}

<div class="comments-container">
    <div class="others-comments">
        <p class="hide-or-show"><a class="hideButton">Hide Comments</a></p>
    </div>
    <div class="comments-block" id="comments">
    </div>
    <div class="comment-content">
        <div class="user-comment">
            <p class="icon">
                <img
                    src="./images/icons/{{#if iconpath}}{{iconpath}}{{else}}panda.png{{/if}}" width="40px" height="40px" class="icon">
            </p>
            <p>{{username}}</p>
        </div>
        <div id="commentEditor" style="width: 82.5%;">
            <form action="./commentArticle" method="get">
                <textarea name="comment" class="commentContent" placeholder="Any comments?" rows="4" style="width: 90%; max-width: 90%;" required></textarea><br>
                <button type="submit" id="commentButton" name="articleId" class="commentSubmitButton" value="{{article.articleId}}">Submit</button>
            </form>
        </div>
    </div>
</div>