<div class="welcomeMessage">
    {{#if toastMessage}}
    <h1>Hi! {{username}}</h1>
    <h2>{{toastMessage}}</h2>
    {{/if}}
</div>
{{!-- <div><a href="./editAccount">edit account</a></div> --}}
<div class="main-container homePageLayout">
    <div class="main-content">
        <div class="grid-articles">
            {{#each article}}
            <div class="grid-content">
                <div class="card">
                    <br>
                    <h3>{{{this.title}}}</h3>
                    <p>{{{this.author}}}</p>
                    <p>{{this.datestamp}}</p>
                    <div class="limit_container">
                        <p class="limit_content">{{{this.content}}}</p>
                    </div>
                    <form action="./article" method="get">
                        <button type="submit" class="readMore homePage" name="fullArticle" value="{{this.id}}">Read more</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="moreButton">
            <form action="./allArticles" method="get">
                <button type="submit" id="showMoreArticles">Show More</button>
            </form>
        </div>   
    </div>
    <div>
        {{#if T}}
        <div class="otherUserProfile currentUser">
            <ul>
                <li><img src="images/icons/{{T.icon_filename}}" width="40px" ></li>
                <li>Username: {{T.username}}</li>
                <li>Name: {{T.fname}} {{T.mname}} {{T.lname}}</li>
                <li>Description: {{T.description}}</li>
                <li>Birthday: {{T.date_of_birth}}</li>
                <li>Articles number: {{T.article_count}}</li>
                <li>Likes number: {{T.likes_count}}</li>
                <li>Follower number: {{T.Follower_count}}</li>
                <li>Following number: {{T.Following_count}}</li>
            </ul>
        </div>
        {{else}}
        <div class="otherUserProfile currentUser">
            <p>Please Log in or Sign up to unlock your personal profile!</p>
        </div>
        {{/if}}
    </div>
</div>