<div class="welcomeMessage">
    {{#if toastMessage}}
    <h1>Hi! {{username}}</h1>
    <h2>{{toastMessage}}</h2>
    {{/if}}
</div>
<div><a href="./editAccount">edit account</a></div>
<div class="main-container">
    <div class="main-content">
        <div class="grid-articles">
            {{#each article}}
            <div class="grid-content">
                <div class="card">
                    <h3>{{this.title}}</h3>
                    <p>{{this.author}}</p>
                    <p>{{this.datestamp}}</p>
                    <p>{{this.content}}</p>
                    <form action="./article" method="get">
                        <button type="submit" class="readMore homePage" name="fullArticle" value="{{this.id}}">Read more</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="moreButton">
            <form action="./allArticles" method="get">
                <button type="submit" id="showMoreArticles">Show More</button>
            </form>
        </div>   
    </div>
</div>